* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #30363D;
  color: white;
}

#page {
  min-height: 100vh;
  width: 33.3%;
  margin: 0 auto;
  /*background: rgba(19, 22, 30, 0.3);
  backdrop-filter: blur(10px);*/
  padding-top: 5rem;
}

header {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  /*margin: 0 auto;*/
}

header img {
  max-width: 13rem;
  padding: 2px;
  border-radius: 50%;
  border: solid 2px white;
  margin-bottom: 1.5rem;
}



main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*margin-bottom: 3rem;*/
}

main h1 {
  font-size: 3.5rem;
  text-align: center;
  min-width: 25.2rem;
}

main p {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
  min-width: 16.3rem;
}

a {
  text-decoration: none;
}

main a {
  width: 28rem;
  min-height: 4.5rem;
  background: #E8F0F9;
  margin-top: 1.3rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: black;

  font-size: 1.6rem;
  font-weight: 550;
  text-align: center;
}

main span {
  width: 60%;
  
}
a svg {
  height: 3.5rem;
  padding-left: 3rem;
}

#github:hover {
  background: #576E8E;
}

#linkedin:hover {
  background: #0a66c2;
}

#instagram:hover {
  background: #af2634;
}

#twitter:hover {
  background: rgb(29, 155, 240);

}

#facebook:hover {
  background: #2374E1;
}

#stackoverflow:hover {
  background: hsl(27,90%,50%);
}

#flickr:hover {
  background: #FF79D5;

}

#lastfm:hover {
  background: #d50000;
}

#email:hover {
  background: #d93025;
}

footer {
  min-width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;

  font-size: 1.3rem;
  gap: 1rem;
}

footer a svg {
  padding-left: 0;
}

footer span:nth-child(2) {
  /*padding-left: 1rem;*/
}

#arroba {
  color: #8257E6;
  font-weight: 900;
}